<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Jonas_Sage_Importer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="JonasSageImporter" connectionString="data source=.;initial catalog=Purchase_SaleLedger;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="EF_JonasLedgerManager" connectionString="data source=.;initial catalog=Purchase_SaleLedger;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="EF_JonasLedgerManager_Live" connectionString="data source=192.168.15.48;initial catalog=Purchase_SaleLedger;integrated security=False;User ID=Sage; Password=SageImport; MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="Jonas_Sage_Importer.Properties.Settings.Purchase_SaleLedger"
      connectionString="Data Source=ADAM-PC;Initial Catalog=Purchase_SaleLedger;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Purchase_SaleLedgerEntities" connectionString="metadata=res://*/EF_JonasLedgerManager.csdl|res://*/EF_JonasLedgerManager.ssdl|res://*/EF_JonasLedgerManager.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Purchase_SaleLedger;integrated security=False;User=Sage; Password=SageImport;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Purchase_SaleLedgerEntities_Live" connectionString="metadata=res://*/EF_JonasLedgerManager.csdl|res://*/EF_JonasLedgerManager.ssdl|res://*/EF_JonasLedgerManager.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.15.48;initial catalog=Purchase_SaleLedger;integrated security=False;User=Sage; Password=SageImport;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <Jonas_Sage_Importer.Properties.Settings>
      <setting name="FirstRun" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EFString" serializeAs="String">
        <value>Purchase_SaleLedgerEntities_Live</value>
      </setting>
      <setting name="Theme" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DBLocation" serializeAs="String">
        <value>192.168.15.48</value>
      </setting>
      <setting name="DBName" serializeAs="String">
        <value>Purchase_SaleLedger</value>
      </setting>
      <setting name="DBUsername" serializeAs="String">
        <value>Sage</value>
      </setting>
      <setting name="DBPassword" serializeAs="String">
        <value>EAAAAMWexV24Aaud0iWjeVavviKa2I+3j9Nhog2U0lrc4DWV</value>
      </setting>
      <setting name="DBReportServerUrl" serializeAs="String">
        <value>http://192.168.15.48/reportserver</value>
      </setting>
    </Jonas_Sage_Importer.Properties.Settings>
  </userSettings>
</configuration>